<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index</title>
</head>

<body>
    index
    <h3>demo1:使用gif.js库，输入jpg转为gif动画</h3>
    http://127.0.0.1:3004/demo/GIF/gifjs.html
    <h3>demo2：使用frame-player, 输入.json 转为 canvas动画</h3>
    http://127.0.0.1:3004/demo/framePlayer/index.html
    <h3>demo3：使用fluent-ffmpeg, 输入.jpg 转为 mp4视频</h3>
    http://127.0.0.1:3001
</body>

</html>